.navbar .navbar-brand{
  color: #E50014;
  font-weight: bold;
}

.navbar .navbar-brand:hover{
  color: #ff1327;
}

.navbar-nav .nav-item .nav-link{
  color: #E50014;
}

.navbar-nav .nav-item .nav-link:hover{
  color: #ffffff;
}

.active {
  color: white !important;
}

.animated-bg {
  transition: background-color 0.5s ease;
}