/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
  scrollbar-color: red  rgb(189, 0, 0);
  scrollbar-width: thin;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-color: #000000;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 0.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  opacity: 0.6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
  opacity: 1;
}
